<div id="flip">Preguntas</div>
<div id="panel"><p>¿Qué ventajas tienen el utilizar Store Procedures en una aplicación cliente-servidor? </p>
    <p>Es mas rapido, tiene mayor seguridad y mayor indepenedencia.</p>
    <p>¿Qué ventajas tiene utilizar SP en un proyecto?</p></div>
    <p>El procedimiento almacenado realiza un procesamiento intermedio en el servidor de bases de datos, sin transmitir los datos innecesarios a través de la red. Sólo se transmiten los registros que realmente necesita la aplicación cliente. Utilizar un procedimiento almacenado puede dar como resultado un uso reducido de la red y un mejor rendimiento general.</p>

<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/zerif.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style> 
    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #6ddde0;
        border: solid 1px #888d8d;
    }
    
    #panel {
        padding: 50px;
        display: none;
    }
    </style>

<script> 
    $(document).ready(function(){
        $("#flip").click(function(){
            $("#panel").slideDown("slow");
        })
    });
    </script>