<body>
	<link rel="shortcut icon" href="images/icons/Img1.png">
    <section class="products" id="products">
    <div class="color-overlay">
    	<div class="container">
            <div class="section-header">
    		<h2 class="white-text">Cursos</h2>
    		</div>
    	</div>
    	</div>
	</div>
    </section>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/jquery.vegas.min.js"></script>
		<script src="js/zerif.js"></script>
		</body>
		</html>
		