
<h4>
    ¿Por qué es una buena práctica separar el modelo del controlador?
</h4>
<p>Es buena practica para asignar funciones a cada una asi como tambien en el futuro tener mas mantenibilidad del proyecto.</p>
<h4>
    ¿Qué es SQL injection y cómo se puede prevenir?
</h4>
<p>Es uno de los ataques más comunes. La inyección directa de comandos SQL ocurre cuando un atacante crea o altera comandos SQL existentes para exponer datos ocultos, sobrescribirlos, o ejecutar comandos a nivel de sistema en el equipo que hospeda la base de datos.</p>
<p>NO USAR sentencias dinámicas ni funciones mysql_*, consideradas obsoletas a partir de php7</p>

<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/zerif.js"></script>