
<h4>
    ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?    
</h4>
<p>Es un refinamiento del DHTML, utiliza todas sus herramientas, sumándole
    el objeto XMLHttpRequest para obtener información asíncronamente y
    refrescar solo la parte necesaria de la página sin perder nada del contexto, se
    terminaron los problemas del DHTML.
    — Ventajas:
    ∗ La mejor tecnología RIA hasta el momento.
    ∗ Está en su mejor momento para la industria.
    ∗ No se necesita descargar plug-in.</p>
<h4>
    ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?
</h4>
<p>AJAX, Asynchronous Javascript and XML, es una técnica que permite presentar la información con CSS y DOM. Esta técnica permite crear aplicaciones interactivas ricas, las cuales se ejecutan en el lado del cliente, client-side, en el navegador. El funcionamiento de AJAX es sencillo, mientras la aplicación se ejecuta en el navegador del cliente, la comunicación se lleva a cabo de manera asíncrona en segundo plano con el servidor. </p>
<h4>
    ¿Qué es JSON?
</h4>
<p>JSON (JavaScript Object Notation) es un formato para el intercambios de datos, básicamente JSON describe los datos con una sintaxis dedicada que se usa para identificar y gestionar los datos.</p>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/zerif.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>