<br>
<br>
<br>
<br>
<div class="row">
    <form class="col s12" action="guardar.php" method="POST">
    
        <?php if(isset($result)): ?>
            <input name="Id_Curso" id="Id_Curso" type="hidden" value="<?=$Cursos["Id_Curso"];?>">
        <?php endif; ?>
        
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Nombre Curso" name="Nombre_Curso" id="Nombre_Curso" type="text" class="validate" required value="<?php if(isset($result)) echo $result["Nombre"] ?>">
          <label for="Nombre_Curso">Nombre del Curso</label>
        </div>
      </div>
      <!--<div class="row">
          <?php if(isset($result)): ?>
              <?=getDropdownCursos("Nombre_Curso",$result["Nombre_Cursos"])?>
          <?php else: ?>
              <?=getDropdownCursos("Nombre_Cursos","tipo")?>
          <?php endif; ?>
      </div> -->
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Objetivo" id="Objetivo" name="Objetivo" type="text" class="validate" required value="<?php if(isset($result)) echo $result["Objetivo"] ?>">
          <label for="Objetivo">Objetivo del Curso</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($result)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
    </form>
  </div>
