<section class="testimonial">
        <div class="row">
            <form class="col s12" action="guardarz.php" method="POST">
              <div class="row">
                <?php if(isset($result)): ?>
                <div class="input-field col s12">
                    <label for="idZombie"></label>
                    <input name="idZombie" id="idZombie" type="hidden" value="<?php if(isset($result)) echo $result["idZombi"] ?>">
                </div>
                <?php endif; ?>
                <div class="input-field col s12"><br>
                    <label for="Nombre">Nombre del Zombi</label><br>
                    <input placeholder="Nombre Zombie" name="Nombre" id="Nombre" type="text" class="validate" required value="<?php if(isset($result)) echo $result["Nombre"] ?>">
                    <br>
                  </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <label for="Estado">Estado del Zombie</label><br>
                    <input placeholder="Estado" id="Estado" name="Estado" type="text" class="validate" required value="<?php if(isset($result)) echo $result["Estado"] ?>">
                    <br>
                  </div>
              </div>

            
              <div class="row">
                <div class="input-field col s12">
                  <input class="waves-effect waves-light btn" type="submit" 
                    value="<?php if(isset($result)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
                </div>
              </div>
            </form>
          </div>
        </section>
