
        <div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<section class = "section">
						<a href="nuevoz.php" class="btn btn-primary custom-button red-btn">Registrar Zombi</a><br/>
						<p></p>
				</section>
</body>
</html>