ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*---------------------------------------
 **   BUTTONS                        -----
-----------------------------------------*/

.buttons {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 45px;
}
.button {
	display: inline-block !important;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 35px 10px 35px;
	border-radius: 4px;
	margin: 10px;
}
.custom-button {
	display: inline-block !important;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 35px 13px 35px;
	border-radius: 4px;
	margin: 10px;
	border: none;
}
.red-btn {
	background: #e96656;
}
.green-btn {
	background: #20AA73;
}
.blue-btn {
	background: #3ab0e2;
}
.yellow-btn {
	background: #E7AC44;
}
.red-btn,.green-btn,.blue-btn,.yellow-btn {
	color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
	color: #FFF;
	background: #1288b9;
}
.red-btn:hover {
	color: #FFF;
	background: #cb4332;
}
.green-btn:hover {
	color: #FFF;
	background: #069059;
}
.yellow-btn:hover {
	color: #FFF;
	background: #d8951e;
}

.testimonial {
	background: #fcfcfc;
	padding-bottom: 90px;
}
#client-feedbacks .feedback-box {
	background: rgb(8, 8, 8);
	padding: 25px;
	margin: 13px;
	text-align: left;
	border-radius: 4px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	display: block;
	z-index: 5;
}
.feedback-box .message {
	font-size: 15px;
	color: #ffffff;
}
.feedback-box .client {
	margin-top: 30px;
	height: 73px;
	position: relative;
}
.feedback-box .quote {
	float: left;
	font-size: 45px;
	line-height: 80px;
}
.feedback-box .client-info {
	float: left;
	margin-left: 18px;
	padding-top: 15px;
}
.feedback-box .client-info .client-name {
	font-family: 'Homemade Apple', serif;
	color: #404040;
}
.feedback-box .client-info .client-company {
	font-size: 13px;
	margin-top: -3px;
}
.feedback-box .client-image {
	float: right;
	width: 200px;
	height: 125px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #f6f6f6;
}
.customNavigation {
	text-align: center;
}
.owl-theme .owl-controls .owl-page span {
	background: #886e0e;
	border-radius: 50%;
}
.customNavigation a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.testimonial {
	background: #fcfcfc;
	padding-bottom: 90px;
}
#client-feedbacks .feedback-box {
	background: rgb(8, 8, 8);
	padding: 25px;
	margin: 13px;
	text-align: left;
	border-radius: 4px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	display: block;
	z-index: 5;
}
.feedback-box .message {
	font-size: 15px;
	color: #ffffff;
}
.feedback-box .client {
	margin-top: 30px;
	height: 73px;
	position: relative;
}
.feedback-box .quote {
	float: left;
	font-size: 45px;
	line-height: 80px;
}
.feedback-box .client-info {
	float: left;
	margin-left: 18px;
	padding-top: 15px;
}
.feedback-box .client-info .client-name {
	font-family: 'Homemade Apple', serif;
	color: #404040;
}
.feedback-box .client-info .client-company {
	font-size: 13px;
	margin-top: -3px;
}
.feedback-box .client-image {
	float: right;
	width: 200px;
	height: 125px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #f6f6f6;
}
.customNavigation {
	text-align: center;
}
.owl-theme .owl-controls .owl-page span {
	background: #886e0e;
	border-radius: 50%;
}
.customNavigation a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}