<!-- =========================
   FOOTER             
============================== -->
<footer>
    <div class="container">
        <!-- COMPANY ADDRESS-->
        <div class="col-md-6 company-details">
            <div class="icon-top red-text">
                    <div id="map"></div>
                    <script>
                      function initMap(){
                        var options = {
                          zoom:8,
                          center:{lat:20.611576882989116,lng:-100.4092025756836}
                        }
                
                        var map = new google.maps.Map(document.getElementById('map'), options);
                  
                        google.maps.event.addListener(map, 'click', function(event){
                          addMarker({coords:event.latLng});
                        });
                        var markers = [
                          {
                            coords:{lat:20.613344276417394,lng:-100.40531873703003},
                            iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                            content:'<h1>ITESM</h1>'
                          },
                          {
                            coords:{lat:20.61101452623447,lng:-100.41082262992859}
                          }
                        ];
                  
                        for(var i = 0;i < markers.length;i++){
                          addMarker(markers[i]);
                        }
                  
                        function addMarker(props){
                          var marker = new google.maps.Marker({
                            position:props.coords,
                            map:map,
                          });

                          if(props.iconImage){
                            marker.setIcon(props.iconImage);
                          }
                  
                          if(props.content){
                            var infoWindow = new google.maps.InfoWindow({
                              content:props.content
                            });
                  
                            marker.addListener('click', function(){
                              infoWindow.open(map, marker);
                            });
                          }
                        }
                      }
                    </script>
            </div>
        </div>
        
        <!-- COMPANY EMAIL-->
        <div class="col-md-3 company-details">
            <div class="icon-top green-text">
            <i class="icon-fontawesome-webfont-329"></i>
            </div>
             pixels@hotmail.com
        </div>
        
        <!-- COMPANY PHONE NUMBER -->
        <div class="col-md-3 company-details">
            <div class="icon-top blue-text">
            <i class="icon-fontawesome-webfont-101"></i>
            </div>
            +01 800 PIXEL
        </div>
        
        <!-- SOCIAL ICON AND COPYRIGHT -->
        <div class="col-lg-3 col-sm-3 copyright">
            <ul class="social">
                <li><a href="https://www.facebook.com/asociarse"><i class="icon-facebook"></i></a></li>
                <li><a href=""><i class="icon-twitter-alt"></i></a></li>
                <li><a href=""><i class="icon-linkedin"></i></a></li>
                <li><a href=""><i class="icon-behance"></i></a></li>
                <li><a href=""><i class="icon-dribbble"></i></a></li>
            </ul>
             ©2017 PIXEL
        </div>
    </div> <!-- / END CONTAINER -->
    </footer> <!-- / END FOOOTER  -->
    
    <!-- SCRIPTS -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl8hwxaaPKq8jH9h19uSLm5nb-t6fPQvA&callback=initMap">
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.knob.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.vegas.min.js"></script>
    <script src="js/zerif.js"></script>
    </body>
    </html>