<h3>Funcion 1</h3>
<?php
    $id = 1;
    $url = "https://iampablop.c9users.io/lab24/Lab24/public/"; //Route to the REST web service
    $context = stream_context_create(['http'=>[]]);
    $response = file_get_contents($url, null, $context);
    //var_dump($response);
    echo $response; 
?>

<h3>Funcion 2</h3>
<?php
    $id = 2;
    $url = "https://iampablop.c9users.io/lab24/Lab24/public/$id"; //Route to the REST web service
    $context = stream_context_create(['http'=>[]]);
    $response = file_get_contents($url, null, $context);
    //var_dump($response); 
    echo $response;
?>