<div class="center">
    <h3>PREGUNTAS LAB 24</h3>
    <hr>
</div>

<ul>
    <li>
        <h2>¿A qué se refiere la descentralización de servicios web?</h2><br>
        Se refiere a poder tener servicios en diferentes locaciones.
    </li>
    <li>
        <h2>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</h2><br> 
        Replicando los servidores que alojan los servicios web, es decir, se pueda obtener el servicio desde otro. 
    </li>
</ul>