header, footer {
    padding: 1em;
    color: white;
    background-color: #3299BB;
    clear: left;
    text-align: center;
}
body {
    background-color: #E0E4CC;
}
h1 {
    color: blue;
}
h2{
  color: blue;
  text-align: center;
}
p {
    color: black;
}
img {
    width:200px;
    height:200px;
    display: block;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #454F82;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F38630;
}

div.acerca {
    background-color:#A7DBD8;
    color : black;
    margin: 20px 0 20px 0;
    padding: 10px;
}
div.acerca p{
  color: black;
}
div.cuadros {
    display: inline-block;
    background-color: #F38630;
    color: black;
    width: 600px;
    height: 240px;
    margin: 5px;
    text-align: center;
}
div.cuadros:hover{
  background-color: #C02727;
}

div.dat{
    padding: 1em;
    color: black;
    background-color: #A7DBD8;
    clear: left;
    text-align: center;
}
h3{
  text-align: center;
}

div.Inve li {
  float: none;
}
