<!-- =========================
	 HOME SECTION       
  ============================== -->
  <header id="Inicio" class="header">
	  <!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	  <div class="container">
		  
		  <!-- HEADING -->
		  <h1 class="intro">'Potenciando líderes, generando esperanza'</h1>
		  
		  <!-- CALL TO ACTION BUTTONS -->
		  <div class="buttons inpage-scroll">
			  <a href="#works" class="btn btn-primary custom-button red-btn">Cursos</a>
			  <a href="#Nosotros" class="btn btn-primary custom-button green-btn">Nosotros</a>
		  </div>
	  </div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
	  
  </header> 
  <!-- / END HOME SECTION  -->


<!-- =========================
   Nosotros        
============================== -->
<section class="testimonial" id="Nosotros">
		<div class="container">  
			<div class="row wow fadeInRight animated" data-wow-offset="60" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="col-md-15">
					<div id="client-feedbacks" class="owl-carousel owl-theme">
		
							<div class="container">
									<div class="section-header">
										<h2 class="dark-text">¿Quiénes somos?</h2>
										<h6 class="dark-text">
											Somos una organización sin fines de lucro que busca fortalecer el vínculo entre el sector privado y las Organizaciones de la Sociedad Civil, a través de estrategias integrales que generen beneficio mutuo.
										</h6>
									</div>
									<!-- 2 COLUMNS OF ABOUT US-->
									<div class="row">
										<!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
										<div class="col-lg-6 col-md-6 column">
											<div class="wow fadeInUp animated" data-wow-offset="50" data-wow-duration="1.5s" data-wow-delay="0.15s">
												 <h4>Misión</h4>
												 
												 <br>
											</div>
										</div>
							
										<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
										<div class="col-lg-6 col-md-6 column">
											<p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
												<h4>VISIÓN</h4> 
												
											
											</p>
										</div>
									</div> <!-- / END 2 COLUMNS OF ABOUT US-->
								</div> <!-- / END CONTAINER -->
		
							<div class="container">
									<!-- SECTION HEADER -->
									<div class="section-header">
										<!-- SECTION TITLE -->
										<h2 class="dark-text">MIEMBROS</h2>
										<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
										<h6>
											Información acerca de nosotros
										</h6>
									</div>
									<!-- / END SECTION HEADER -->
									<!-- TEAM MEMBERS -->
									<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
										<!-- MEMBER -->
										<div class="Centrado">
										<div class="col-lg-3 col-sm-3">
											<div class="team-member">
												<figure class="profile-pic"> 
												<img src="images/team/pic1.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
												</figure>
												<div class="member-details">
													<h5 class="dark-text red-border-bottom">Jason Daniels</h5>
													<div class="position">
														Founder
													</div>
												</div>
												<div class="social-icons">
													<ul>
														<li><a href=""><i class="icon-facebook"></i></a></li>
														<li><a href=""><i class="icon-twitter-alt"></i></a></li>
														<li><a href=""><i class="icon-behance"></i></a></li>
														<li><a href=""><i class="icon-dribbble"></i></a></li>
													</ul>
												</div>
												<div class="details">
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
													</p>
												</div>
											</div>
										</div>
										<!-- / END MEMBER -->
										
										<div class="col-lg-3 col-sm-3">
											<div class="team-member">
												<figure class="profile-pic">
												<img src="images/team/pic2.jpg" alt="">
												</figure>
												<div class="member-details">
													<h5 class="dark-text green-border-bottom">Patricia Medina</h5>
													<div class="position">
														Senior Desigener
													</div>
												</div>
												<div class="social-icons">
													<ul>
														<li><a href=""><i class="icon-facebook"></i></a></li>
														<li><a href=""><i class="icon-twitter-alt"></i></a></li>
														<li><a href=""><i class="icon-behance"></i></a></li>
														<li><a href=""><i class="icon-linkedin"></i></a></li>
													</ul>
												</div>
												<div class="details">
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
													</p>
												</div>
											</div>
										</div>
									  </div>
									</div> <!-- / END TEAM MEMBER LIST -->
								</div> <!-- / END CONTAINER -->
		
		
					</div> <!-- / END FEEDBACKS-->
				</div> <!-- / END COLUMN -->
			</div> <!-- / END ROW -->
			
		</div> <!-- / END CONTAINER -->
		</section> <!-- / END TESTIMONIAL SECTION -->
		
<!-- =========================
   SEPARATOR ONE      
============================== -->
<section class="separator-one">
<div class="color-overlay">
	<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	</h3>
</div>
</section>  <!-- / END SEPARATOR -->


<!-- =========================
   WORKS SECTION      
============================== -->

<section class="works" id="Bienhechores">
<div class="container">
	<!-- SECTION HEADER -->
	<div class="section-header">
		<!-- SECTION TITLE -->
		<h2 class="dark-text">BIENHECHORES</h2>
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
				Estos bienhechores comprenden cómo su expertise, background y tiempo, hacen la diferencia tanto para empresas del sector privado como para Organizaciones sin fines de lucro al estar impartiendo un taller o curso.
				Los bienhechores que apoyan nuestra causa están considerados como los mejores de Querétaro y sus alrededores, entre los que se encuentran: 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	<div class="row projects">
	<div id="loader">
	    <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<!-- PORTFOLIO ITEMS-->
		<ul class="cbp-rfgrid">
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more"><img src="images/portfolio/1.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
        <!-- PROJECT -->	
        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more"><img src="images/portfolio/2.jpg" alt="project" />
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->

        <!-- PROJECT -->	
        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more"><img src="images/portfolio/3.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
		
         <!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
        <a href="project.html" class="more"><img src="images/portfolio/4.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
		</ul>
	</div>
	<!-- END OF PORTFOLIO ITEMS-->
</div>
</div> <!-- / END CONTAINER -->
</section> <!-- / END WORKS SECTION -->

<!-- =========================
   WORKS SECTION      
============================== -->

<section class="works" id="Empresas">
		<div class="container">
			<!-- SECTION HEADER -->
			<div class="section-header">
				<!-- SECTION TITLE -->
				<h2 class="dark-text">EMPRESAS</h2>
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6>
						Gracias a que impartimos formación, desarrollo y capacitación únicamente con los MEJORES bienhechores (Universidades, consultoras, facilitadores) que impactan significativamente en las empresas de la zona, muchos colaboradores de estas -no importando su giro o tamaño- han podido aprovechar nuestros programas.
				</h6>
			</div>
			<!-- / END SECTION HEADER -->
			<div class="row projects">
			<div id="loader">
				<div class="loader-icon"></div>
			</div>
			<div class="col-md-12" id="portfolio-list">
				<!-- PORTFOLIO ITEMS-->
				<ul class="cbp-rfgrid">
				<!-- PROJECT -->	
				<li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<a href="project.html" class="more"><img src="images/portfolio/1.jpg"  alt="project"/>
					<div class="project-info">
						<div class="project-details">
							<h5 class="white-text red-border-bottom">
							Project Title </h5>
							<div class="details white-text">
								Web Design
							</div>
						</div>
					</div>
					</a>
				</li>
				<!-- / PROJECT -->
				
				<!-- PROJECT -->	
				<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<a href="project.html" class="more"><img src="images/portfolio/2.jpg" alt="project" />
					<div class="project-info">
						<div class="project-details">
							<h5 class="white-text red-border-bottom">
							Project Title </h5>
							<div class="details white-text">
								Web Design
							</div>
						</div>
					</div>
					</a>
				</li>
				<!-- / PROJECT -->
		
				<!-- PROJECT -->	
				<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<a href="project.html" class="more"><img src="images/portfolio/3.jpg"  alt="project"/>
					<div class="project-info">
						<div class="project-details">
							<h5 class="white-text red-border-bottom">
							Project Title </h5>
							<div class="details white-text">
								Web Design
							</div>
						</div>
					</div>
					</a>
				</li>
				<!-- / PROJECT -->
				
				
				 <!-- PROJECT -->	
				<li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
				<a href="project.html" class="more"><img src="images/portfolio/4.jpg"  alt="project"/>
					<div class="project-info">
						<div class="project-details">
							<h5 class="white-text red-border-bottom">
							Project Title </h5>
							<div class="details white-text">
								Web Design
							</div>
						</div>
					</div>
					</a>
				</li>
				</ul>
			</div>
			<!-- END OF PORTFOLIO ITEMS-->
		</div>
		</div> <!-- / END CONTAINER -->

		</section> <!-- / END WORKS SECTION -->
		