header, footer {
    padding: 1em;
    color: white;
    background-color: #3299BB;
    clear: left;
    text-align: center;
}
body {
    background-color: #E0E4CC;
}
h1 {
    color: blue;
    font-family: 'Saira Semi Condensed', sans-serif;
}
h2{
  color: blue;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
}
p {
    color: black;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 13px;
}
img {
    width:200px;
    height:200px;
    display: block;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #454F82;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F38630;
}

div.acerca {
    background-color:#A7DBD8;
    color : black;
    margin: 20px 0 20px 0;
    padding: 10px;
}
div.acerca h1{
  color: white;
  text-align: center;
}
div.acerca p{
  color: black;
  font-size: 20px;
}
div.cuadros {
    display: inline-block;
    background-color: #F38630;
    color: black;
    width: 600px;
    height: 240px;
    margin: 5px;
    text-align: center;
}
div.cuadros:hover{
  background-color: #C02727;
}

div.dat{
    padding: 1em;
    color: black;
    background-color: #A7DBD8;
    clear: left;
    text-align: center;
}

div.dat h3{
  text-align:left;
}

div.dat p{
  text-align: left;
}


h3{
  text-align: center;
}

div.Inve li {
  float: none;
  font-size: 15px;
}







@media only screen and ( max-width: 40em ) {

}

ol.process-chart {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
}

ol.process-chart > li {
    background: linear-gradient(rgba(0,0,0,0.25) 0%, transparent 25%);
    flex-basis: inherit;
    margin: -1em 0 1em 0;
    min-width: inherit;
    padding: 1em 1em 0 1em;
}

ol.process-chart > li:before {
    left: 1em;
    top: 2em;
}


ol.process-chart > li:after {
    border-bottom: 0 solid transparent;
    border-left: 1em solid transparent!important;
    border-right: 1em solid transparent;
    border-top: 1em solid #fff;
    bottom: -1em;
    height: 0;
    left: 0;
    right: inherit;
    top: inherit;
    width: 100%;
}

ol.process-chart > li > div {
    padding: 1em 1em 0 1em;
}

ol.process-chart > li:nth-of-type(6n+1):after {
    border-top-color: #a2ed56;
}

ol.process-chart > li:nth-of-type(6n+2):after {
    border-top-color: #83e4e2;
}

ol.process-chart > li:nth-of-type(6n+3):after {
    border-top-color: #fd6470;
}

ol.process-chart > li:nth-of-type(6n+4):after {
    border-top-color: #fca858;
}

ol.process-chart > li:nth-of-type(6n+5):after {
    border-top-color: #fddc32;
}
