h1,h2,p{text-align:center}body{font-size:16px;background-color:#000}body:after{content:"PIXEL";font-size:15em;color:rgba(35,190,200,.3);z-index:9999;display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;bottom:0;left:0;-webkit-pointer-events:none;-moz-pointer-events:none;-ms-pointer-events:none;-o-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}h1,p{color:#fff}h2{color:#0ff}#div1{width:500px;height:350px;padding:10px;border:1px solid #fff}
